# Copie este arquivo para um novo chamado ".env" na raiz do projeto e preencha as variáveis abaixo:

# URL do seu projeto no Supabase (ex: https://abcdeflg.supabase.co)
PUBLIC_SUPABASE_URL=https://lxmzkemrtbdburygyjxj.supabase.co/rest/v1/

# Chave de API anônima do Supabase (anon key)
PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imx4bXprZW1ydGJkYnVyeWd5anhqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODExOTE2OTgsImV4cCI6MjA5Njc2NzY5OH0.OHb4JlOqFmTX-9QWvVCGIuV_xTOyfupgZTM-nsdGUaQ
